RewriteEngine on
  
RewriteRule ^beranda$ index.php [L]
RewriteRule ^profil-sekolah$ index.php?hal=ProfilSekolah [L]
RewriteRule ^beranda-alumni$ index.php?hal=BerandaAlumni [L]
RewriteRule ^login-alumni$ index.php?hal=LoginAlumni [L]
RewriteRule ^profil-alumni$ index.php?hal=ProfilAlumni [L]
RewriteRule ^lupa-password$ index.php?hal=LupaPassword [L]
RewriteRule ^info-reuni$ index.php?hal=InfoReuni [L]
RewriteRule ^pendaftaran-reuni$ index.php?hal=PendaftaranReuni [L]
RewriteRule ^konfirmasi-pembayaran$ index.php?hal=KonfirmasiPembayaran [L]
RewriteRule ^setting$ index.php?hal=Setting [L]
RewriteRule ^loker$ index.php?hal=Loker [L]
RewriteRule ^galeri$ index.php?hal=Galeri [L]
RewriteRule ^alumni$ index.php?hal=Alumni [L]
RewriteRule ^Registrasi$ index.php?hal=Registrasi [L]
RewriteRule ^belum-verifikasi$ index.php?hal=BelumVerifikasi [L]
RewriteRule ^kontak$ index.php?hal=Kontak [L]
RewriteRule ^verifikasi-pembayaran$ index.php?hal=VerifikasiPembayaran [L]
RewriteRule ^verifikasi-akun$ index.php?hal=VerifikasiAkun [L]
RewriteRule ^data-registrasi$ index.php?hal=DataRegistrasi [L]
RewriteRule ^data-all$ index.php?hal=DataAll [L]
RewriteRule ^pembayaran-manual$ index.php?hal=PembayaranManual [L]
RewriteRule ^admin-peserta$ index.php?hal=AdminPeserta [L]
RewriteRule ^admin-verifikasi-akun$ index.php?hal=AdminVerifikasiAkun [L]
RewriteRule ^admin-verifikasi-pembayaran$ index.php?hal=AdminVerifikasiPembayaran [L]
RewriteRule ^data-all-detail$ index.php?hal=DataAllDetail [L]


RewriteRule ^beranda-alumni-1$ index.php?hal=BerandaAlumni&p=1 [L]
RewriteRule ^beranda-alumni-2$ index.php?hal=BerandaAlumni&p=2 [L]
RewriteRule ^beranda-alumni-3$ index.php?hal=BerandaAlumni&p=3 [L]
RewriteRule ^beranda-alumni-4$ index.php?hal=BerandaAlumni&p=4 [L]
RewriteRule ^beranda-alumni-5$ index.php?hal=BerandaAlumni&p=5 [L]
RewriteRule ^beranda-alumni-6$ index.php?hal=BerandaAlumni&p=6 [L]
RewriteRule ^beranda-alumni-7$ index.php?hal=BerandaAlumni&p=7 [L]
RewriteRule ^beranda-alumni-8$ index.php?hal=BerandaAlumni&p=8 [L]
RewriteRule ^beranda-alumni-9$ index.php?hal=BerandaAlumni&p=9 [L]
RewriteRule ^beranda-alumni-10$ index.php?hal=BerandaAlumni&p=10 [L]
RewriteRule ^beranda-alumni-11$ index.php?hal=BerandaAlumni&p=11 [L]
RewriteRule ^beranda-alumni-12$ index.php?hal=BerandaAlumni&p=12 [L]
RewriteRule ^beranda-alumni-13$ index.php?hal=BerandaAlumni&p=13 [L]
RewriteRule ^beranda-alumni-14$ index.php?hal=BerandaAlumni&p=14 [L]
RewriteRule ^beranda-alumni-15$ index.php?hal=BerandaAlumni&p=15 [L]
RewriteRule ^beranda-alumni-16$ index.php?hal=BerandaAlumni&p=16 [L]
RewriteRule ^beranda-alumni-17$ index.php?hal=BerandaAlumni&p=17 [L]
RewriteRule ^beranda-alumni-18$ index.php?hal=BerandaAlumni&p=18 [L]

RewriteRule ^beranda-alumni-19$ index.php?hal=BerandaAlumni&p=19 [L]
RewriteRule ^beranda-alumni-20$ index.php?hal=BerandaAlumni&p=20 [L]
RewriteRule ^beranda-alumni-21$ index.php?hal=BerandaAlumni&p=21 [L]
RewriteRule ^beranda-alumni-22$ index.php?hal=BerandaAlumni&p=22 [L]
RewriteRule ^beranda-alumni-23$ index.php?hal=BerandaAlumni&p=23 [L]
RewriteRule ^beranda-alumni-24$ index.php?hal=BerandaAlumni&p=24 [L]
RewriteRule ^beranda-alumni-25$ index.php?hal=BerandaAlumni&p=25 [L]
RewriteRule ^beranda-alumni-26$ index.php?hal=BerandaAlumni&p=26 [L]
RewriteRule ^beranda-alumni-27$ index.php?hal=BerandaAlumni&p=27 [L]
RewriteRule ^beranda-alumni-28$ index.php?hal=BerandaAlumni&p=28 [L]
RewriteRule ^beranda-alumni-29$ index.php?hal=BerandaAlumni&p=29 [L]
RewriteRule ^beranda-alumni-30$ index.php?hal=BerandaAlumni&p=30 [L]
RewriteRule ^beranda-alumni-31$ index.php?hal=BerandaAlumni&p=31 [L]
RewriteRule ^beranda-alumni-32$ index.php?hal=BerandaAlumni&p=32 [L]
RewriteRule ^beranda-alumni-34$ index.php?hal=BerandaAlumni&p=34 [L]
RewriteRule ^beranda-alumni-35$ index.php?hal=BerandaAlumni&p=35 [L]
RewriteRule ^beranda-alumni-36$ index.php?hal=BerandaAlumni&p=36 [L]
RewriteRule ^beranda-alumni-37$ index.php?hal=BerandaAlumni&p=37 [L]

RewriteRule ^beranda-alumni-38$ index.php?hal=BerandaAlumni&p=38 [L]
RewriteRule ^beranda-alumni-39$ index.php?hal=BerandaAlumni&p=39 [L]
RewriteRule ^beranda-alumni-40$ index.php?hal=BerandaAlumni&p=40 [L]
RewriteRule ^beranda-alumni-41$ index.php?hal=BerandaAlumni&p=41 [L]
RewriteRule ^beranda-alumni-42$ index.php?hal=BerandaAlumni&p=42 [L]
RewriteRule ^beranda-alumni-43$ index.php?hal=BerandaAlumni&p=43 [L]
RewriteRule ^beranda-alumni-45$ index.php?hal=BerandaAlumni&p=45 [L]
RewriteRule ^beranda-alumni-46$ index.php?hal=BerandaAlumni&p=46 [L]
RewriteRule ^beranda-alumni-47$ index.php?hal=BerandaAlumni&p=47 [L]
RewriteRule ^beranda-alumni-48$ index.php?hal=BerandaAlumni&p=48 [L]
RewriteRule ^beranda-alumni-49$ index.php?hal=BerandaAlumni&p=49 [L]
RewriteRule ^beranda-alumni-50$ index.php?hal=BerandaAlumni&p=50 [L]



RewriteRule ^beranda-data-all-1$ index.php?hal=DataAll&p=1 [L]
RewriteRule ^beranda-data-all-2$ index.php?hal=DataAll&p=2 [L]
RewriteRule ^beranda-data-all-3$ index.php?hal=DataAll&p=3 [L]
RewriteRule ^beranda-data-all-4$ index.php?hal=DataAll&p=4 [L]
RewriteRule ^beranda-data-all-5$ index.php?hal=DataAll&p=5 [L]
RewriteRule ^beranda-data-all-6$ index.php?hal=DataAll&p=6 [L]
RewriteRule ^beranda-data-all-7$ index.php?hal=DataAll&p=7 [L]
RewriteRule ^beranda-data-all-8$ index.php?hal=DataAll&p=8 [L]
RewriteRule ^beranda-data-all-9$ index.php?hal=DataAll&p=9 [L]
RewriteRule ^beranda-data-all-10$ index.php?hal=DataAll&p=10 [L]
RewriteRule ^beranda-data-all-11$ index.php?hal=DataAll&p=11 [L]
RewriteRule ^beranda-data-all-12$ index.php?hal=DataAll&p=12 [L]
RewriteRule ^beranda-data-all-13$ index.php?hal=DataAll&p=13 [L]
RewriteRule ^beranda-data-all-14$ index.php?hal=DataAll&p=14 [L]
RewriteRule ^beranda-data-all-15$ index.php?hal=DataAll&p=15 [L]
RewriteRule ^beranda-data-all-16$ index.php?hal=DataAll&p=16 [L]
RewriteRule ^beranda-data-all-17$ index.php?hal=DataAll&p=17 [L]
RewriteRule ^beranda-data-all-18$ index.php?hal=DataAll&p=18 [L]

RewriteRule ^beranda-data-all-19$ index.php?hal=DataAll&p=19 [L]
RewriteRule ^beranda-data-all-20$ index.php?hal=DataAll&p=20 [L]
RewriteRule ^beranda-data-all-21$ index.php?hal=DataAll&p=21 [L]
RewriteRule ^beranda-data-all-22$ index.php?hal=DataAll&p=22 [L]
RewriteRule ^beranda-data-all-23$ index.php?hal=DataAll&p=23 [L]
RewriteRule ^beranda-data-all-24$ index.php?hal=DataAll&p=24 [L]
RewriteRule ^beranda-data-all-25$ index.php?hal=DataAll&p=25 [L]
RewriteRule ^beranda-data-all-26$ index.php?hal=DataAll&p=26 [L]
RewriteRule ^beranda-data-all-27$ index.php?hal=DataAll&p=27 [L]
RewriteRule ^beranda-data-all-28$ index.php?hal=DataAll&p=28 [L]
RewriteRule ^beranda-data-all-29$ index.php?hal=DataAll&p=29 [L]
RewriteRule ^beranda-data-all-30$ index.php?hal=DataAll&p=30 [L]
RewriteRule ^beranda-data-all-31$ index.php?hal=DataAll&p=31 [L]
RewriteRule ^beranda-data-all-32$ index.php?hal=DataAll&p=32 [L]
RewriteRule ^beranda-data-all-34$ index.php?hal=DataAll&p=34 [L]
RewriteRule ^beranda-data-all-35$ index.php?hal=DataAll&p=35 [L]
RewriteRule ^beranda-data-all-36$ index.php?hal=DataAll&p=36 [L]
RewriteRule ^beranda-data-all-37$ index.php?hal=DataAll&p=37 [L]

RewriteRule ^beranda-data-all-38$ index.php?hal=DataAll&p=38 [L]
RewriteRule ^beranda-data-all-39$ index.php?hal=DataAll&p=39 [L]
RewriteRule ^beranda-data-all-40$ index.php?hal=DataAll&p=40 [L]
RewriteRule ^beranda-data-all-41$ index.php?hal=DataAll&p=41 [L]
RewriteRule ^beranda-data-all-42$ index.php?hal=DataAll&p=42 [L]
RewriteRule ^beranda-data-all-43$ index.php?hal=DataAll&p=43 [L]
RewriteRule ^beranda-data-all-45$ index.php?hal=DataAll&p=45 [L]
RewriteRule ^beranda-data-all-46$ index.php?hal=DataAll&p=46 [L]
RewriteRule ^beranda-data-all-47$ index.php?hal=DataAll&p=47 [L]
RewriteRule ^beranda-data-all-48$ index.php?hal=DataAll&p=48 [L]
RewriteRule ^beranda-data-all-49$ index.php?hal=DataAll&p=49 [L]
RewriteRule ^beranda-data-all-50$ index.php?hal=DataAll&p=50 [L]
 Options All -Indexes
IndexIgnore *
